<div class="header">
  <h1>その恋、過積載</h1>
  <p>その恋、過積載とは、恋愛での”重さ”にフォーカスした、相性診断webアプリケーションです。<p>
</div>
<div class="middle">
  <div class="middle-name">
  <!-- でこる -->
    <p>名前を入力<p>
    <button type="button" name="name" value="value">button</button>

  </div>
</div>
<div class="footer">

</div>